<%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="field row mb-3">
    <%= form.label :title, class: 'col-sm-2 form-label' %>
    <div class="col-sm-5">
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="field row mb-3">
    <%= form.label :body, class: 'col-sm-2 form-label' %>
    <div class="col-sm-5">
      <%= form.text_area :body, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
