<p id="notice" class="alert alert-primary alert-dismissible" role="alert">
  <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @todo.body %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo), class: 'btn btn-primary' %> |
<%= link_to 'Back', todos_path, class: 'btn btn-secondary' %>
