<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>

    <div class="container-fluid">
      <div id="nav">
        <% if current_user %>
          <%= link_to "Edit Profile", edit_user_path(current_user.id), class: "btn btn-warning" %>
          <%= link_to "Logout", :logout, method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Register", new_user_path, class: "btn btn-primary" %>
          <%= link_to "Login", :login, class: "btn btn-success" %>
        <% end %>
      </div>
      <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
